.dixqo { 
  line-height: 35px;
  padding-right: 5px;
  line-height: 38px;
  border-bottom-width: 72px;
  margin-top: 32px;
  font-size: 98px;
  padding-top: 27px;
  border-top-width: 84px;
  padding-bottom: 12px;
}
